* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.style-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(./img/hexagon-abstract_9627101.jpg!f305cw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: yellow; */
}

.box-btn {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: yellow;

}

.btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(206, 206, 206);
    transform: translate(-50%, -50%);
}

.btn-icon i {
    font-weight: 600;
    font-size: 1.5rem;
}

#btn01 {
    color: white;
    border: 1px solid rgb(87, 86, 86);
    background-color: rgb(68, 67, 67);
    z-index: 1;
}

#btn02 {
    animation: espalhar 0.5s ease;
}

.btn-ativo {
    top: ;
}

@keyframes espalhar {
    0% {
        position: relative;
        top: 50%;
    }
    50% {
        position: relative;
        top: 30px; 
    }
    100% {
        position: relative;
        top: 50%;
    }
}

@keyframes aumentar {
    0% {

    }
    50% {

    }
    100% {

    }
}