* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.style-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(./img/hexagon-abstract_9627101.jpg!f305cw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(31, 31, 31);
}

.box-btn {
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background-color: yellow; */
}

.btn-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
}

.btn-icon i {
    font-weight: 600;
    font-size: 1.5rem;
}

/*----Botão Principal----*/

#btn01 {
    color: white;
    border: 1px solid rgb(87, 86, 86);
    background-color: rgb(68, 67, 67);
    z-index: 10;
}

/*----Botões Animados----*/

#btn02 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn02.ativo {
    translate: 0px -120px;
}

#btn03 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn03.ativo {
    translate: 90px -80px;
}

#btn04 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn04.ativo {
    translate: 120px 20px;
}

#btn05 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn05.ativo {
    translate: 60px 100px;
}

#btn06 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn06.ativo {
    translate: -60px 100px;
}

#btn07 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn07.ativo {
    translate: -120px 20px;
}

#btn08 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn08.ativo {
    translate: -90px -80px;
}

@keyframes espalhar {
    0% {
        position: relative;
        top: 50%;
    }
    50% {
        position: relative;
        top: 30px; 
    }
    100% {
        position: relative;
        top: 50%;
    }
}

@keyframes aumentar {
    0% {

    }
    50% {

    }
    100% {

    }
}