* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 65, 65);
}

main h1 {
    text-align: center;
    width: 450px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.style-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
}

.box-btn {
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background-color: yellow; */
}

/*----Style de todos os botões----*/

.btn-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
}

.btn-icon i {
    font-weight: 600;
    font-size: 1.5rem;
}

/*----Botão Principal----*/

#btn01 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgb(87, 86, 86);
    background-color: rgb(68, 67, 67);
    z-index: 10;
}

.icon01 {
    position: absolute;
    opacity: 1;
}

.icon02 {
    position: absolute;
    opacity: 0;
}

@keyframes aumentar {
    0% {
        height: 50px;
        width: 50px;
    }

    50% {
        height: 60px;
        width: 60px;
    }

    100% {
        height: 70px;
        width: 70px;
    }
}

/*----Botões Animados----*/

#btn02 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn02.ativo {
    translate: 0px -120px;
}

#btn03 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn03.ativo {
    translate: 90px -80px;
}

#btn04 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn04.ativo {
    translate: 120px 20px;
}

#btn05 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn05.ativo {
    translate: 60px 100px;
}

#btn06 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn06.ativo {
    translate: -60px 100px;
}

#btn07 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn07.ativo {
    translate: -120px 20px;
}

#btn08 {
    transition: translate 0.5s ease-out;
    z-index: 9;
}

#btn08.ativo {
    translate: -90px -80px;
}

@keyframes espalhar {
    0% {
        position: relative;
        top: 50%;
    }

    50% {
        position: relative;
        top: 30px;
    }

    100% {
        position: relative;
        top: 50%;
    }
}